/* _______________________________________________________________________________________partie css page index___________________________________________________ */
/* ----------------------partie css header */

/* css des icones panier/compte */
.bi {
    color: white;

}

.bi {
    font-size: 1.5rem;
    margin-right: 15px;
}


header {
    width: 100%;
    height: 60vh;
}

.imageprincipal {
    width: 100%;
    height: 100%;
}

#imageHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    header {
        height: 40vh;
    }

    #imageHeader img {
        height: 40vh;
    }
}


/* -------------------------partie css footer */

#btn {
    margin-right: 15px;
}

footer {
    position: relative;
}

.boutonfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-buttons {
    position: absolute;
    top: 0;
    /* En haut du footer */
    right: 0;
    /* À droite du footer */
    margin-top: 10px;
    margin-right: 10px;
}

.btn {
    margin: 5px;
    padding: 15px 50px;
    font-size: 14px;
}

/* -----------------------partie css index */

.section_index1 {
    text-align: center;
}

#section_index2 {
    text-align: left;
    margin-left: 30px;
}

.section_index_sortie>div {
    display: flex;
    /* Ajoutez cette propriété pour aligner horizontalement */
    justify-content: center;
    /* Centre les éléments horizontalement */
    flex-wrap: wrap;
    /* Permet de passer à la ligne si nécessaire */
}

.image-container {
    width: 30%;
    /* Ajusté pour trois images sur une ligne */
    overflow: hidden;
    padding-bottom: 2%;
    position: relative;
    margin: 10px;
    /* Ajustez selon vos besoins */
}

.image-container img {
    width: 100%;
    height: auto;
    /* Modifiez pour 'auto' pour conserver le ratio d'aspect */
    object-fit: cover;
    border-radius: 15px;
    /* Ajoutez cette ligne pour des bords arrondis */
}

#section_index3 {
    text-align: center;
    margin-left: 30px;
}

.section_index_promo>div {
    display: flex;
    /* Ajoutez cette propriété pour aligner horizontalement */
    justify-content: center;
    /* Centre les éléments horizontalement */
    flex-wrap: wrap;
    /* Permet de passer à la ligne si nécessaire */
}

.image-container2 {
    width: 20%;
    /* La largeur du conteneur */
    padding-bottom: 20%;
    /* Assurez que ceci est égal à la largeur pour créer un cercle */
    position: relative;
    margin: 10px;
    border-radius: 50%;
    /* Rend le conteneur circulaire */
    overflow: hidden;
    /* Important pour rogner les bords de l'image */
}

.image-container2 img {
    position: absolute;
    /* Positionnement absolu par rapport au conteneur */
    top: 50%;
    /* Centre l'image verticalement */
    left: 50%;
    /* Centre l'image horizontalement */
    width: auto;
    /* Garde l'aspect original de l'image */
    height: 100%;
    /* Hauteur totale pour éviter les espaces vides */
    transform: translate(-50%, -50%);
    /* Ajustement fin pour centrer parfaitement l'image */
    object-fit: cover;
    /* S'assure que l'image couvre le conteneur */
}

/* _______________________________________________________________________________________partie css page tarif___________________________________________________ */


.section_index-tarif1 {
    margin-left: 100px;
}

.section_index-tarif2>div {
    display: flex;
    /* Ajoutez cette propriété pour aligner horizontalement */
    justify-content: center;
    /* Centre les éléments horizontalement */
    flex-wrap: wrap;
    /* Permet de passer à la ligne si nécessaire */
}

.image-container_tarif {
    width: 30%;
    /* Ajusté pour trois images sur une ligne */
    overflow: hidden;
    padding-bottom: 2%;
    position: relative;
    margin: 10px;
    /* Ajustez selon vos besoins */
}

.image-container_tarif img {
    width: 100%;
    height: auto;
    /* Modifiez pour 'auto' pour conserver le ratio d'aspect */
    object-fit: cover;
    border-radius: 15px;
    /* Ajoutez cette ligne pour des bords arrondis */
}

/* _______________________________________________________________________________________partie css page panier___________________________________________________ */

.panier {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(58, 18, 49), 0.301;
}

tr:nth-child(even) {
    background-color: #eee;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
}

.btn-success {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-success:hover {
    background-color: #4cae4c;
}

/* _______________________________________________________________________________________partie css page forms___________________________________________________ */

.form-group {
    margin-left: 600px;
    margin-right: 600px;
}

/* _______________________________________________________________________________________partie css page film__________________________________________________ */

.custom-container {
    max-width: 80%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.selector-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    ;
}

.cinema-selector,
.session-selector,
.reservation-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-image {
    border-radius: 15px;
    /* Vous pouvez ajuster cette valeur selon le degré d'arrondi souhaité */
}

.selector-container .cinema-selector,
.selector-container .session-selector {
    margin-right: 120px;
}

.selector-container .reservation-button {
    margin-left: 40px;
}

/* _______________________________________________________________________________________partie css page ??__________________________________________________ */